# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\shemi\OneDrive - post.bgu.ac.il\הנדסת נתונים\שנה ב'\סמסטר א'\אנליזה נומרית\FinaProject\FinalProjectNumericalAnalysis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
